extends layout
block content
    h1= title
    form(method='get', action='/compare')
        input(name='product1', type='text', placeholder='First product', value=data.items[0].url)
        br
        input(name='product2', type='text', placeholder='Second product', value=data.items[1].url)
        br
        input(type='submit', value='Submit')
        br
    table.compare(cellpadding="0", cellspacing="0", boder="0")
        tr
            td
            for item in data.items
                td
                    div.header
                        img(src=item.img)
                        h3= item.title
                        if item.before_price
                            div.price
                                span.current_price= item.special_price
                                span.before_price= item.before_price
                                span.sale_off= item.off_price
                        else
                            div.price
                                span.current_price= item.special_price
        tr
            td
                span.label-header= 'Ratings & Reviews'
            for item in data.items
                td
                    div.avr_rating= item.avr_rating + ' ★'
                    div.total_rating_review= item.total_rating_review
        tr
            td
                span.label-header= 'Highlight'
            for item in data.items
                td
                    ul
                        for hl in item.highlight
                            li= hl
        tr
            td
            for item in data.items
                td
                    a.btn-buynow(href=item.url, target="_blank")
                        span.icon
                        = 'Buy Now'
        tr
            td
                span.label-header= 'Delivery'
            for item in data.items
                td
                    ul.list
                        if item.delivery.fullfilled
                            li= item.delivery.fullfilled
                        if item.delivery.info
                            for info in item.delivery.info
                                li
                                    div.list-label= info.label
                                    div.list-value= info.time
        tr
            td
                span.label-header= 'Seller'
            for item in data.items
                td
                    if item.seller.url
                        a.seller-name(href=item.seller.url, target="_blank")= item.seller.name
                        &nbsp;-&nbsp;
                        if item.seller.rating
                            div.avr_rating= item.seller.rating + ' ★'
                    else
                        div.seller-name= item.seller.name
                        if item.seller.rating
                            div.avr_rating= item.seller.rating + ' ★'
        tr
            td
                span.label-header= 'Variants'
            for item in data.items
                td
                    - let v_arr = Object.keys(data.info_list)
                    ul.list
                        for variant in v_arr
                            li
                                div.list-label= data.info_list[variant]
                                div.list-value= item[variant]
        tr.seb
            td(colspan="3")
                span.label-header-lead= 'GENERAL FEATURES'
        - let gen_arr = Object.keys(data.general_list)
        for gen in gen_arr
            tr
                td
                    span.label-header= data.general_list[gen]
                for item in data.items
                    td
                        if item.general_info[gen]
                            div= item.general_info[gen]
                        else
                            div= '-'
        tr
            td
            for item in data.items
                td
                    a.btn-buynow(href=item.url, target="_blank")
                        span.icon
                        = 'Buy Now'
        tr.seb
            td(colspan="3")
                span.label-header-lead= 'TOP REVIEW'
        tr
            td
            for item in data.items
                td
                    if item.top_review.length > 0
                        for review in item.top_review
                            div.review
                                div.review-header
                                    div.rating= review.rating + ' ★'
                                    div.title= review.title
                                div.review-comment
                                    div.comment= review.comment
                                div.review-author= review.author

