extends layout
block content
	h1 Compare Products
	form(method='get', action='/compare')
		input(name='product1', type='text', placeholder='First product')
		br
		input(name='product2', type='text', placeholder='Second product')
		br
		input(type='submit', value='Submit')
		br