doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/javascripts/script.js')