body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
    margin: 0;
}

a {
    color: #00B7FF;
}

form input {
    margin-bottom: 10px;
    padding: 5px;
}

form input[type=text] {
    width: 500px;
}

table.compare {
    width: 900px;
    margin: 0 auto;
}

table.compare tr:first-child td {
    text-align: justify;
}

table.compare tr:nth-child(2) td {
    border-top: 1px solid #e0e0e0;
}

table.compare tr:nth-child(n + 2) td:nth-child(2) {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

table.compare tr td {
    width: 300px;
    padding: 20px 10px;
    vertical-align: top;
}

table.compare tr td:first-child {
    padding: 20px 0px;
}

div.header img {
    width: 150px;
}

div.price>* {
    padding-right: 5px;
}

div.header h3 {
    font-weight: normal;
    min-height: 40px;
}

span.current_price {
    font-weight: bold;
    font-size: 15px;
}

span.before_price {
    text-decoration: line-through;
    color: #a4a4a4;
}

span.sale_off {
    font-size: 12px;
    font-weight: bold;
    color: #388e3c;
}

span.label-header-lead {
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
}

span.label-header {
    font-weight: bold;
    font-size: 14px;
    padding-left: 30px;
}

div.avr_rating {
    border-radius: 7px;
    background-color: #388e3c;
    padding: 3px 6px;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
}

div.total_rating_review {
    color: #878787;
    font-weight: bold;
}

ul.list li {
    margin-bottom: 10px;
}

ul.list div.list-label {
    font-weight: bold;
}

ul.list div.list-value {
    color: #333;
}

div.avr_rating_null {
    display: inline-block;
    color: #388e3c;
}

a.seller-name {
    color: #000;
    font-weight: bold;
}

tr.seb {
    background-color: #f9f9f9;
}

.review {
    margin-bottom: 20px;
}

.review-header .rating {
    display: inline-block;
    margin-right: 20px;
    font-size: 15px;
}

.review-header .title {
    display: inline-block;
    max-width: 240px;
}

.review-comment .comment {
    font-size: 12px;
    margin-top: 10px;
    line-height: 20px;
}

.review-comment a {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    color: #2874f0;
    text-decoration: none;
}

.review-author {
    color: #878787;
    font-size: 12px;
    margin: 10px 0px;
}

a.btn-buynow {
    background-color: #fb641b;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 20px 0px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-buynow .icon {
    vertical-align: middle;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMHY3LjdoMi4xVjE0TDcgNS42SDQuMkw3IDAiIGZpbGw9IiNGRkYiIC8+PC9zdmc+);
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}